{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="cd-fixed-bg cd-bg-1 div-wrapper">
		 <div class="container">
			<div class='jumbotron'>
				<p class='profile text-center'>Artist Profile</p>
			</div>
		</div>
        <img alt="Circle content" class="circle_image img-responsive" src="{% static 'index.png' %}" />
		<p class='big_title'>{{ artist.first_name }} {{ artist.last_name }}</p>
	</div> 
	<div class="container">
		<div class="cd-scrolling-bg cd-color-2">
			<div class="panel panel-warning">
				<img src="{% if artist.photo %} {{ artist.photo.url }}{% else %}{% static 'blank.png' %} {% endif %}" alt="{{ artist.first_name }}'s photo" class='img-thumbnail img-responsive pull-left' width='150'>
        		<div class="panel-heading">&nbsp;&nbsp;{{ artist.first_name }}'s Info</div>
				<div class="panel-body"><strong>&nbsp;&nbsp;{% if artist.url %}{{ artist.first_name }}'s website is <a href='{{ artist.url }}'>{{ artist.url }}</a></strong> <br>&nbsp;&nbsp;<a href="{{ artist.url }}">Click here</a> to visit the page.{% else %}&nbsp;&nbsp;{{ artist.first_name }} hasn't uploaded a website yet.{% endif %}</strong>
			</div>
    	</div>
		<p>This is more information about {{ artist.first_name }} {{ artist.last_name }}. 
		Maybe a short bio or description stored in the DB; uploaded by {{ artist.first_name }}, of course. 
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, 
		dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi...
		</p>
	</div> 
</div> 
{% endblock content %}