{% extends 'base.html' %}
{% load staticfiles %}

	{% block content %}
		<div class="jumbotron">
			<div class="caption text-center">
         		<h2>Musical Programs</h2>
         	</div>	
		</div> <!-- end jumbotron -->  
		<div class="row">
			<div class="col-xs-12">
			<div class="panel panel-info">
				<div class='panel-heading'><h3>Program List</h3></div>
				<div class='panel-body'><a href="" class="btn btn-info btn-lg">Program 1</a><br><br>
				<a href="" class="btn btn-info btn-lg">Program 2</a><br><br>
				<a href="" class="btn btn-info btn-lg">Program 3</a><br><br></div>
				
				<div class='panel-heading'><h3>Song List</h3></div>
				<div class='panel-body'><a href="{% url 'programs_song_list' %}" class="btn btn-info btn-lg">Songs</a></div>
				<div class='panel-heading'><h3>Artists List</h3></div>
				<div class='panel-body'><a href="{% url 'programs_artist_list' %}" class="btn btn-info btn-lg">Artists</a></div>
			</div> <!-- end panel -->
			</div> <!-- end column -->
		</div> <!-- end row -->	
	{% endblock %}
